html {
            min-height: 100%;
            position: relative;

}

body {
            margin: 0;
			background-image: url("source/img/fondolaptop.jpg");
            background-position: center;
            background-repeat: no-repeat;
			font-family: 'Exo 2', sans-serif;
			transition: background 2s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            text-shadow: 0 0 10px #000;
            text-align: center;
			opacity: .5;
            
}

.wrapper {
            margin: 0;
            font-size: 5vw;
			opacity: 1;
}

footer {
            //font-size: 2vw;
            position: absolute;
            bottom: 0;
            width: 100%;
            //height: 40px;
            color: #fff;
			opacity: 1;
}

.table {
		margin: 0 auto;
		border-collapse: collapse;
}